<% content_for :page_description do %>
  <div class="col-md-7" align=center><h1>Clients</h1></div>
<% end %>

<%= form_tag(clients_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search client by name" %>
  <%= submit_tag "Search" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.address %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%= default_action_links(client) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path, :class => 'btn btn-success' %>
