<html>
<body >
	<table align=center> <!--border=3 bordercolor=purple width='1300' height='1050' align=center>-->
		<tr>
			<td valign=top align = left>
			    
       
<%= form_for(@activity) do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
     
      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      
    </div>
<% end %>




  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :important_info %><br>
    <%= f.text_area :important_info %>
  </div>
  <div class="field">
    <%= f.label :service %><br>
    <%= f.text_area :service %>
  </div>
  <div class="field">
    <%= f.label :food_drink %><br>
    <%= f.text_area :food_drink %>
  </div>
  <div class="field">
    <%= f.label :medication %><br>
    <%= f.text_area :medication %>
  </div>
    <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

			</td>	
		</tr>
	</table>
</body>
</html>

