<p id="notice"><%= notice %></p>

<h1>Listing Activities</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Important info</th>
      <th>Service</th>
      <th>Food drink</th>
      <th>Medication</th>
      <th>User</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.date %></td>
        <td><%= activity.description %></td>
        <td><%= activity.important_info %></td>
        <td><%= activity.service %></td>
        <td><%= activity.food_drink %></td>
        <td><%= activity.medication %></td>
        <td><%= activity.user %></td>
        <td><%= activity.client %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
