<div class="page-header" align=center>
    <h1>Client Activity Log</h1>
      <%= image_tag 'smalllogo.png' %> 
</div>

<nav class="navbar" role="navigation">
  <div class="navbar-header">
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "History", activities_path %></a></li>
        <li><a href="#">Careplan</a></li>
        <li><%= link_to "logout", destroy_user_session_path, method: :delete %> </li>
    </ul>
  </div>
</nav>
        
        
<%= render 'form' %>

<%= link_to 'Back', activities_path %>


