<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @activity.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Important info:</strong>
  <%= @activity.important_info %>
</p>

<p>
  <strong>Service:</strong>
  <%= @activity.service %>
</p>

<p>
  <strong>Food drink:</strong>
  <%= @activity.food_drink %>
</p>

<p>
  <strong>Medication:</strong>
  <%= @activity.medication %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity.user %>
</p>

<p>
  <strong>Client:</strong>
  <%= @activity.client %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
