<p id="notice"><%= notice %></p>

<header class="w3-container w3-teal">
        <div class="col-md-2" align="left">
            <%= image_tag 'smalllogo.png' %>
        </div>
        <div class="col-md-7" align=center>
            <h1>History</h1>
         </div>
</header>

<div class="row">
    <div class="col-md-12" align=left>    
            <ul class="nav nav-tabs" align=right>
              <li role="presentation"><a href="#">Careplan</a></li>
  		        <li role="presentation"><%= link_to "logout", destroy_user_session_path, method: :delete %></</li>
  		    </ul>
  	</div>
</div>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Cargiver name</th>
      <th>Data</th>
      <th>Finish time</th>
      <th>Start time</th>
      <th>Breakfast time</th>
      <th>Am snack</th>
      <th>Lunch</th>
      <th>Pm snack</th>
      <th>Dinner</th>
      <th>Night nack</th>
      <th>Med breaktime</th>
      <th>Med lunch</th>
      <th>Med eventime</th>
      <th>Med ngtime</th>
      <th>Important info</th>
      <th>Description</th>
      <th>Extra</th>
      <th>Housekeeping</th>
      <th>Personalhigiene</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.client %></td>
        <td><%= log.carg_name %></td>
        <td><%= log.data %></td>
        <td><%= log.f_time %></td>
        <td><%= log.s_time %></td>
        <td><%= log.fd_breaktime %></td>
        <td><%= log.am_snack %></td>
        <td><%= log.fd_lunch %></td>
        <td><%= log.pm_snack %></td>
        <td><%= log.dinner %></td>
        <td><%= log.ngt_nack %></td>
        <td><%= log.med_breaktime %></td>
        <td><%= log.med_lunch %></td>
        <td><%= log.med_eventime %></td>
        <td><%= log.med_ngtime %></td>
        <td><%= log.imp_info %></td>
        <td><%= log.desc %></td>
        <td><%= log.extra %></td>
        <td><%= log.housekeeping %></td>
        <td><%= log.personalhigiene %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_log_path %>