<% content_for :page_description do %>
  <div class="col-md-7" align=center><h1>History</h1></div>
<% end %>

 <!-- Search form-->
  <ip id='notice'><%=notice %></p>
      <%= form_tag(logs_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search history by client name" %>
      <%= submit_tag "Search" %>
  <% end %>
  <!-- End of search form-->

<p id="notice"><%= notice %></p>


<style>
.more_info {
  height: 0;
  overflow: hidden;
  animation-duration: 1s;
}
</style>
<% @logs.each do |log| %>
<div class="container-fluid">
  <div class="client_card">
    <div class="row">
      <div class="col-md-6">
        <p class="client_name"><%= log.client %></p>
        <p class="carer_name">cared for by <%= log.carg_name %></p>
      </div>
      <div class="col-md-5">
        <p>
          <%= log.data %><br />
          <%= log.s_time %> - <%= log.f_time %>
        </p>
      </div>
      <div class="col-md-1">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= log.imp_info %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Generate this ...
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="show_more_info">Show more</button>
      </div>
      <div class="col-md-4">
        <%= link_to 'Edit', edit_log_path(log) %>
      </div>
      <div class="col-md-4">
        <%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <div class="more_info">
      <div class="row">
        <div class="col-md-12">
          <%= log.desc %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Food</h3>
          <ul>
            <li>Breakfast: <%= log.fd_breaktime %></li>
            <li>AM snack: <%= log.am_snack %></li>
            <li>Lunch: <%= log.fd_lunch %></li>
            <li>PM snack: <%= log.pm_snack %></li>
            <li>Dinner: <%= log.dinner %></li>
            <li>Night snack: <%= log.ngt_nack  %></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3><i class="fa fa-user-md" aria-hidden="true"></i> Medication</h3>
          <ul>
            <li>Breakfast: <%= log.med_breaktime %></li>
            <li>Lunch: <%= log.med_lunch %></li>
            <li>Evening: <%= log.med_eventime %></li>
            <li>Night time: <%= log.med_ngtime %></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3><i class="fa fa-user" aria-hidden="true"></i> Extra's</h3>
          <%= log.personalhigiene %>
        </div>
        <div class="col-md-4">
          <h3><i class="fa fa-home" aria-hidden="true"></i> Extra's</h3>
          <%= log.housekeeping %>
        </div>
        <div class="col-md-4">
          <h3><i class="fa fa-plus" aria-hidden="true"></i> Extra's</h3>
          <%= log.extra %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
$('.client_card .show_more_info').on('click', function() {
  $show_more = $(this).parents('.client_card').eq(0).find('.more_info');
  if ($show_more.css('height') === '0') {
    $show_more.css('height', '100%');
    $(this).text('Show more');
  } else {
    $show_more.css('height', '0');
    $(this).text('Show less');
  }
});
</script>
