<% content_for :page_description do %>
  <div class="col-md-7" align=center><h1>History</h1></div>
<% end %>

<%= form_tag(logs_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search history by client name" %>
  <%= submit_tag "Search" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Client</th>
      <th>Cared</th>
      <th>Date</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.client %></td>
        <td><%= log.carg_name %></td>
        <td><%= log.data %></td>
        <td><%= log.s_time %> - <%= log.f_time %></td>
        <td><%= default_action_links(log) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
