<% content_for :page_description do %>
  <div class="col-md-7" align=center><h1>Client Activity Log</h1></div>
<% end %>

<<<<<<< HEAD
<p id="notice"><%= notice %></p>
=======

<div class="row">
    <div class="col-md-12" align=left>    
            <ul class="nav nav-tabs" align=right>
                <li><%= link_to "History", logs_path %></a></li>
  		        <li><%= link_to "Careplan", careplans_index_path %></li>
  		        <li role="presentation"><%= link_to "Logout", destroy_user_session_path, method: :delete %></</li>
  		    </ul>
  	</div>
</div>
            
>>>>>>> 90fc6bb03e09fd04505562c5c1ed2cf10111c49b

<%= render 'form' %>

