<div class="container-fluid">
  <div class="table table-bordered">
    <div class="row">
      <div class="col-md-6">
        <p class="client_name"><%= @log.client %></p>
        <p class="carer_name">cared by <%= @log.carg_name %></p>
      </div>
      <div class="col-md-5">
        <p>
          <%= @log.data %><br />
          <%= @log.s_time %> - <%= @log.f_time %>
        </p>
      </div>
      <div class="col-md-1">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= @log.imp_info %>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
        Generate this ...
      </div>
    </div> -->
    <div class="row">
      <!--<div class="col-md-4">-->
      <!--  <%= link_to 'Edit', edit_log_path(@log) %>-->
      <!--</div>-->
      </div>
    <div class="more_info">
      <div class="row">
        <div class="col-md-12">
          <%= @log.desc %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Food</h3>
          <ul>
            <li>Breakfast: <%= @log.fd_breaktime %></li>
            <li>AM snack: <%= @log.am_snack %></li>
            <li>Lunch: <%= @log.fd_lunch %></li>
            <li>PM snack: <%= @log.pm_snack %></li>
            <li>Dinner: <%= @log.dinner %></li>
            <li>Night snack: <%= @log.ngt_nack  %></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3><i class="fa fa-user-md" aria-hidden="true"></i> Medication</h3>
          <ul>
            <li>Breakfast: <%= @log.med_breaktime %></li>
            <li>Lunch: <%= @log.med_lunch %></li>
            <li>Evening: <%= @log.med_eventime %></li>
            <li>Night time: <%= @log.med_ngtime %></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3><i class="fa fa-user" aria-hidden="true"></i> Personal Hygiene</h3>
          <% @log.personalhigiene.each do |ph| %>
            <%= ph.descrpition %>
          <% end %>
        </div>
        <div class="col-md-4">
          <h3><i class="fa fa-home" aria-hidden="true"></i> Housekeeping</h3>
          <% @log.housekeeping.each do |ph| %>
            <%= ph.description %>
          <% end %>
        </div>
        <div class="col-md-4">
          <h3><i class="fa fa-plus" aria-hidden="true"></i> Extras</h3>
          <% @log.extra.each do |ph| %>
            <%= ph.description %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
<%= link_to 'Destroy', @log, method: :delete, data: { confirm: 'Are you sure?' } %>

