<p>
  <strong>Client:</strong>
  <%= @log.client %>
</p>

<p>
  <strong>Carg name:</strong>
  <%= @log.carg_name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @log.data %>
</p>

<p>
  <strong>F time:</strong>
  <%= @log.f_time %>
</p>

<p>
  <strong>S time:</strong>
  <%= @log.s_time %>
</p>

<p>
  <strong>Fd breaktime:</strong>
  <%= @log.fd_breaktime %>
</p>

<p>
  <strong>Am snack:</strong>
  <%= @log.am_snack %>
</p>

<p>
  <strong>Fd lunch:</strong>
  <%= @log.fd_lunch %>
</p>

<p>
  <strong>Pm snack:</strong>
  <%= @log.pm_snack %>
</p>

<p>
  <strong>Dinner:</strong>
  <%= @log.dinner %>
</p>

<p>
  <strong>Ngt nack:</strong>
  <%= @log.ngt_nack %>
</p>

<p>
  <strong>Med breaktime:</strong>
  <%= @log.med_breaktime %>
</p>

<p>
  <strong>Med lunch:</strong>
  <%= @log.med_lunch %>
</p>

<p>
  <strong>Med eventime:</strong>
  <%= @log.med_eventime %>
</p>

<p>
  <strong>Med ngtime:</strong>
  <%= @log.med_ngtime %>
</p>

<p>
  <strong>Imp info:</strong>
  <%= @log.imp_info %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @log.desc %>
</p>

<p>
  <strong>Extra:</strong>
 <% @log.extra.each do |ph| %>
     <%= ph.description %>
      <% end %>
</p>

<p>
  <strong>Housekeeping:</strong>
  <% @log.housekeeping.each do |ph| %>
     <%= ph.description %>
      <% end %>

</p>

<p>
  <strong>Personalhigiene:</strong>
 <% @log.personalhigiene.each do |ph| %>
     <%= ph.description %>
      <% end %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
