<% content_for :page_description do %>
  <div class="col-md-7" align=center><h1>Careplans</h1></div>
<% end %>

<%= form_tag(careplans_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Careplan by client name" %>
  <%= submit_tag "Search" %>
<% end %>

<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />

<%= link_to "New Careplan", new_careplan_path, class: "btn btn-primary" %>

<br />
<br />

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Client Name</th>
      <th>Careplan</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @careplans.each do |careplan| %>
      <tr>
        <td><%= careplan.name %></td>
        <td><%= link_to "Download careplan", careplan.attachment_url %></td>
        <td><%= button_to "Delete",  careplan, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{careplan.name}?" %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<%= link_to 'Back', new_log_path %>
