<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "New Careplan", new_careplan_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @careplans.each do |careplan| %>
      <tr>
        <td><%= careplan.name %></td>
        <td><%= link_to "Download careplan", careplan.attachment_url %></td>
        <td><%= button_to "Delete",  careplan, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{careplan.name}?" %></td>
      </tr>
    <% end %>
    <%= link_to 'Back', logs_path %>
  </tbody>
</table>